n8n/imported/n11-meetrobo-slack.json
{
  "name": "R35 | meetRobo",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C096JN5NS06",
          "mode": "list",
          "cachedResultName": "meetrobo"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0125ba70-28f3-4c5e-8e58-2eb2abb3f66b",
      "name": "Slack Trigger",
      "webhookId": "2c77b280-e51d-47bf-831d-647714252347",
      "credentials": {
        "slackApi": {
          "id": "Zyh8VzUsBX4LP5lM",
          "name": "Slack account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## 🧠 SYSTEM PROMPT: Pre-Meeting Briefing Agent (With Sources)\n\n  A – Ask:\n    Provide a concise briefing about a person I’m scheduled to meet, using publicly available online information. Include verifiable sources for each key section.\n\n  G – Guidance:\n    role: Professional and friendly briefing assistant\n    output_count: 1\n    character_limit: Up to 1000 characters per section\n    constraints: \n      - Use only public, verifiable sources\n      - Include source URLs next to each factual point or quote\n      - Focus on professional relevance and mutual interests\n      - Justify talking points with real-world activity or content\n      - Include a final blurb with a high-quality insight or prompt\n      - End with at least 3 insightful, podcast-style questions\n      - Avoid speculation or vague, generic phrases\n\n  E – Examples:\n    🟢 good_examples:\n      - \"Michael Lee is an investor with a focus on climate tech. He’s backed CarbonEdge and sits on the advisory board of GreenVenture. His recent LinkedIn post suggests he’s exploring AI-driven sustainability tools.\" (source: https://linkedin.com/in/michaellee)\n    🔴 bad_examples:\n      - \"He seems like a really cool guy who probably likes hiking.\"\n      - \"I couldn’t find anything but I guess he works in tech?\"\n\n  N – Notation:\n    format: JSON\n    example_output: |\n      {\n        \"name\": \"Full Name\",\n        \"bio\": {\n          \"text\": \"Short professional biography\",\n          \"source\": \"https://example.com/bio\"\n        },\n        \"current_role\": {\n          \"text\": \"Job title and description\",\n          \"source\": \"https://linkedin.com/in/example\"\n        },\n        \"recent_activity\": {\n          \"text\": \"Recent updates from LinkedIn, news, or social media\",\n          \"source\": \"https://twitter.com/example/status/12345\"\n        },\n        \"talking_points\": [\n          {\n            \"interest\": \"AI Automation\",\n            \"justification\": \"Posted about AutoGPT integrations in May 2025\",\n            \"source\": \"https://medium.com/@example/autogpt-article\"\n          },\n          {\n            \"interest\": \"Climate Tech\",\n            \"justification\": \"Invested in GreenLoop, a carbon-tracking startup\",\n            \"source\": \"https://techcrunch.com/example-greenloop-investment\"\n          }\n        ],\n        \"blurb\": {\n          \"text\": \"You might find it interesting to explore how they approach AI agents in enterprise workflows. They recently spoke about custom LLM stacks at an MIT panel.\",\n          \"source\": \"https://mit.edu/event/ai-panel-june25\"\n        },\n        \"conversation_questions\": [\n          \"What do you think is the biggest misconception about AI agents right now?\",\n          \"How do you personally evaluate a startup working in automation?\",\n          \"What’s the most exciting trend in your field that others aren’t talking about enough?\"\n        ]\n      }\n\n  T – Tools:\n    You have access to the following tools. Each one is described clearly:\n    - 🧠 Think Tool: Use this to reflect and reason before responding.\n    - 🌐 Perplexity Tool: Use this to gather publicly available online information.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "c5795a12-fb09-493e-a860-f3e263882bd6",
      "name": "meetRobo AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        192
      ],
      "id": "ae908863-8286-4eb1-9885-743dd9e9f751",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zDZ32auFKuRIohXt",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"name\": \"Full Name\",\n  \"bio\": {\n    \"text\": \"Short professional biography\",\n    \"source\": \"https://example.com/bio\"\n  },\n  \"current_role\": {\n    \"text\": \"Job title and description\",\n    \"source\": \"https://linkedin.com/in/example\"\n  },\n  \"recent_activity\": {\n    \"text\": \"Recent updates from LinkedIn, news, or social media\",\n    \"source\": \"https://twitter.com/example/status/12345\"\n  },\n  \"talking_points\": [\n    {\n      \"interest\": \"AI Automation\",\n      \"justification\": \"Posted about AutoGPT integrations in May 2025\",\n      \"source\": \"https://medium.com/@example/autogpt-article\"\n    },\n    {\n      \"interest\": \"Climate Tech\",\n      \"justification\": \"Invested in GreenLoop, a carbon-tracking startup\",\n      \"source\": \"https://techcrunch.com/example-greenloop-investment\"\n    }\n  ],\n  \"blurb\": {\n    \"text\": \"You might find it interesting to explore how they approach AI agents in enterprise workflows. They recently spoke about custom LLM stacks at an MIT panel.\",\n    \"source\": \"https://mit.edu/event/ai-panel-june25\"\n  },\n  \"conversation_questions\": [\n    \"What do you think is the biggest misconception about AI agents right now?\",\n    \"How do you personally evaluate a startup working in automation?\",\n    \"What’s the most exciting trend in your field that others aren’t talking about enough?\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        432,
        192
      ],
      "id": "53001599-db50-47dd-91fe-dc617004b2af",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "sonar",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "simplify": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify_Output', ``, 'boolean') }}",
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        400,
        -144
      ],
      "id": "93e13644-f10e-4816-a9be-3502f161fdac",
      "name": "Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "POWoGNx7eaDsTbTe",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        224,
        -144
      ],
      "id": "35971e0b-293b-4109-8ed7-8d88dcc864bb",
      "name": "Think"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C096JN5NS06",
          "mode": "list",
          "cachedResultName": "meetrobo"
        },
        "text": "=👤 *Name:*  \n{{ $json.output.name }}\n\n***\n\n🧠 *Bio:*  \n{{ $json.output.bio.text }}  \n🔗 ({{ $json.output.bio.source }})\n\n***\n\n💼 *Current Role:*  \n{{ $json.output.current_role.text }}  \n🔗 ({{ $json.output.current_role.source }})\n\n***\n\n📡 *Recent Activity:*  \n{{ $json.output.recent_activity.text }}  \n🔗 ({{ $json.output.recent_activity.source }})\n\n***\n\n💡 *Talking Points:*  \n{{ $json.output.talking_points.map(tp => \"• *\" + tp.interest + \"* — \" + tp.justification + \"\\n  🔗 (\" + tp.source + \")\").join('\\n\\n') }}\n\n***\n\n🧵 *Blurb:*  \n{{ $json.output.blurb.text }}  \n🔗 ({{ $json.output.blurb.source }})\n\n***\n\n🎙 *Conversation Starters:*  \n{{ $json.output.conversation_questions.map(q => \"• \" + q).join('\\n') }}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        592,
        0
      ],
      "id": "143b748b-9aa9-4f19-a0ca-7b1573916908",
      "name": "Slack",
      "webhookId": "08c0f618-4b1a-4a7c-a71b-19eb6a30a906",
      "credentials": {
        "slackOAuth2Api": {
          "id": "sqVfoM5ryQnJQP2b",
          "name": "Slack account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "meetRobo AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "meetRobo AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "meetRobo AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity": {
      "ai_tool": [
        [
          {
            "node": "meetRobo AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "meetRobo AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "meetRobo AI Agent": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8a5dc887-7919-443f-a23f-9e4a90f33671",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "addaa68bf5af965c06c3765c811549851eb65db8df4677e0c6253726ffcac493"
  },
  "id": "ptjP9eAn74YfFDH3",
  "tags": []
}