n8n/imported/n23-sora2-kie.json
{
  "name": "n23 | Sora 2 via Kie AI (upgraded)",
  "nodes": [
    {
      "parameters": {
        "content": "## Part 1: Create Prompts",
        "height": 144,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        1456
      ],
      "id": "2621a2d5-6aad-4706-9808-17b5ba66af43",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $('Create Sora2').item.json.data.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        1648
      ],
      "id": "09984008-2234-44fe-8a47-309b3742c605",
      "name": "Get Video",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "platform": "linkedin",
        "accountId": {
          "__rl": true,
          "value": "123",
          "mode": "id"
        },
        "postContentText": "={{ $('Get inputs').item.json.caption }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1664,
        1680
      ],
      "id": "d29cee75-cd15-4bc0-871f-0e7c59f5aaf2",
      "name": "👔LinkedIn",
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "platform": "facebook",
        "accountId": {
          "__rl": true,
          "value": "123",
          "mode": "id"
        },
        "postContentText": "={{ $('Get inputs').item.json.caption }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "facebookPageId": {
          "__rl": true,
          "value": "130049253738890",
          "mode": "list",
          "cachedResultName": "Test brand",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/1092/subaccounts/130049253738890"
        },
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1664,
        1520
      ],
      "id": "64cac218-d251-49ca-ba54-50d760ea2606",
      "name": "📘Facebook",
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "platform": "tiktok",
        "accountId": {
          "__rl": true,
          "value": "1234",
          "mode": "id"
        },
        "postContentText": "={{ $('Get inputs').item.json.caption }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "postCreateTiktokOptionIsAiGenerated": "={{ true }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1664,
        1360
      ],
      "id": "19a253e3-8970-44f7-906f-edb5f01b354c",
      "name": "🎵Tiktok",
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "platform": "threads",
        "accountId": {
          "__rl": true,
          "value": "284",
          "mode": "list",
          "cachedResultName": "testingspace54872",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/284"
        },
        "postContentText": "={{ $('Get inputs').item.json.caption }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1808,
        1520
      ],
      "id": "ce148d0e-c994-43ac-bcfd-136facbadf26",
      "name": "🧵Threads",
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "platform": "twitter",
        "accountId": {
          "__rl": true,
          "value": "123",
          "mode": "id"
        },
        "postContentText": "={{ $('Get inputs').item.json.caption }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1952,
        1520
      ],
      "id": "25abee73-1e0a-46b3-9664-48b53a3560df",
      "name": "✖️Twitter",
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "accountId": {
          "__rl": true,
          "value": "4116",
          "mode": "list",
          "cachedResultName": "testingprofile13125",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/4116"
        },
        "postContentText": "={{ $('Get inputs').item.json.caption }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1808,
        1360
      ],
      "id": "1bd5b603-22ac-402a-ba8e-4b0354d2efbb",
      "name": "📷Instagram",
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "media",
        "mediaUrl": "={{ $json.video_output }}"
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1408,
        1520
      ],
      "id": "b7d121f1-0dbe-4ecd-8306-cf1bf2a5b287",
      "name": "Ready in Blotato",
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "platform": "bluesky",
        "accountId": {
          "__rl": true,
          "value": "5872",
          "mode": "list",
          "cachedResultName": "testbrand13125.bsky.social",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/5872"
        },
        "postContentText": "={{ $('Get inputs').item.json.caption }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1808,
        1680
      ],
      "id": "713b6f92-12f4-438d-9bc5-803aa3e8960b",
      "name": "☁️BlueSky",
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "platform": "youtube",
        "accountId": {
          "__rl": true,
          "value": "123",
          "mode": "id"
        },
        "postContentText": "={{ $('Get inputs').item.json.caption }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "postCreateYoutubeOptionTitle": "={{ $('Get inputs').item.json.title }}",
        "postCreateYoutubeOptionPrivacyStatus": "unlisted",
        "postCreateYoutubeOptionShouldNotifySubscribers": false,
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1952,
        1360
      ],
      "id": "e056f559-4180-45d4-910d-eb9047130ff9",
      "name": "🔻YouTube",
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "platform": "pinterest",
        "accountId": {
          "__rl": true,
          "value": "228",
          "mode": "list",
          "cachedResultName": "testbrand13125",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/228"
        },
        "postContentText": "={{ $('Get inputs').item.json.caption }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "pinterestBoardId": {
          "__rl": true,
          "value": "1017321072016836595",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1952,
        1680
      ],
      "id": "46265f26-905f-4f3e-8b11-52ed7ce8f28b",
      "name": "📍 Pinterest",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1F5eSl9WigK_hvXfqKBtl6Tm7yw1yUzl5YmRqaS-PCiY",
          "mode": "list",
          "cachedResultName": "n23 | Sora in n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F5eSl9WigK_hvXfqKBtl6Tm7yw1yUzl5YmRqaS-PCiY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 772279596,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F5eSl9WigK_hvXfqKBtl6Tm7yw1yUzl5YmRqaS-PCiY/edit#gid=772279596"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "production_status",
              "lookupValue": "create"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        1648
      ],
      "id": "eaaf0f8b-b335-4663-935f-7a1fadfe0463",
      "name": "Get inputs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        304,
        1648
      ],
      "id": "0c37c2d6-81ed-4c0f-b6b9-1ba8a187cb6f",
      "name": "Wait",
      "webhookId": "f5f6f79f-6171-4402-a32b-85ff60de067f"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a96f17f2-5967-4b13-acc9-4d41f226453b",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "=success",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "52ad92ea-901f-4af8-a462-84b045dd2803",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "ing",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "in progress"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        624,
        1632
      ],
      "id": "10df5816-9d61-4091-92b2-93b98db404d0",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        528,
        1264
      ],
      "id": "553700ea-3805-4607-896e-75c9a1ec4c7c",
      "name": "GPT",
      "credentials": {
        "openAiApi": {
          "id": "NyuhXI96tWK9dR2J",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        304,
        1328
      ],
      "id": "c9c89983-0931-4795-86d5-35fd9058f4ac",
      "name": "Think"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"scenes\": [\n    {\n      \"Title\": \"Title here\",\n      \"Caption\": \"Short caption with emoji 😀 #topic1 #topic2 #topic3 #topic4 #popular1 #popular2 #popular3 #popular4 #trend1 #trend2 #trend3 #trend4\",\n      \"Prompt\": \"Prompt here (≤800 characters)\",\n      \"aspect_ratio\": \"16:9\",\n      \"image_reference\": \"https://example.com/image.jpg\"\n    },\n    {\n      \"Title\": \"Title here\",\n      \"Caption\": \"Short caption with emoji 😀 #topic1 #topic2 #topic3 #topic4 #popular1 #popular2 #popular3 #popular4 #trend1 #trend2 #trend3 #trend4\",\n      \"Prompt\": \"Prompt here (≤800 characters)\",\n      \"aspect_ratio\": \"9:16\",\n      \"image_reference\": \"https://example.com/image.jpg\"\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        416,
        1264
      ],
      "id": "83685f66-93fb-42f4-9a84-bdb6b32f6740",
      "name": "Structure"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1F5eSl9WigK_hvXfqKBtl6Tm7yw1yUzl5YmRqaS-PCiY",
          "mode": "list",
          "cachedResultName": "n23 | Sora in n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F5eSl9WigK_hvXfqKBtl6Tm7yw1yUzl5YmRqaS-PCiY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 772279596,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F5eSl9WigK_hvXfqKBtl6Tm7yw1yUzl5YmRqaS-PCiY/edit#gid=772279596"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A:C"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        624,
        1328
      ],
      "id": "ed7f01b7-1bc9-4234-975b-bdd195a7cbe2",
      "name": "Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        880,
        1456
      ],
      "id": "2d16f6f0-2607-484b-9f3c-54fdecde5d95",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Give me {{ $('Master Prompt').item.json['how many videos'] }} ideas about this main topic:\n{{ $('Master Prompt').item.json['what\\'s your idea'] }}\n\nThe aspect ratio is: {{ $('Master Prompt').item.json.aspect_ratio }}\n\n\nMASTER PROMPT. For all the prompts you generate, follow the structure of this prompt strictly. The master prompt is the piece of text between the ***\n\n***\n{{ $('Master Prompt').item.json['master prompt'] }}\n\n\n\n\n***\n\n\n\nIf provided, here is the Image reference URL: {{ $('Master Prompt').item.json.image_reference }}\n\nHere's the description of the image reference if it is provided:\n{{ $json.choices[0].message.content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## SYSTEM PROMPT: Video Scene Prompt Expander 🎬\n\n  A – Ask:\n    Suggest detailed video prompts based on the user’s input – always mimicking the format, tone, and structure of a provided master prompt. If no sample is given, use the user’s idea to generate a new prompt in a cinematic house style. Output count is defined by the user.\n\n  G – Guidance:\n    role: Visual director or brand-aligned prompt artist\n    output_count: As specified by the user\n    constraints: \n      - Always follow the user’s tone, brand, or direction.\n      - Strictly match the **style, length, formatting, and cadence** of any master prompt provided.\n      - Never use copyrighted or trademarked characters, brands, or IP.\n      - The aspect_ratio field must be either \"9:16\" (portrait) or \"16:9\" (landscape). No other values are allowed.\n      - If the user provides an `image_reference` URL, copy it exactly into the output.\n      - Always check the Sheet tool to AVOID repeated titles, captions, or prompts. Do NOT repeat any of the ideas already found in the Sheet. \n\n  E – Examples:\n    Take direct guidance from any user-provided master prompt:\n      - Match the sample’s **sentence rhythm, length, and visual vocabulary**.\n      - Mirror the tone, cinematic intensity, and phrase structure exactly.\n      - If no master is given, create a vivid, immersive scene using a cinematic trailer-style voice.\n\n  N – Notation:\n    format: JSON\n    example_output: |\n      {\n        \"scenes\": [\n          {\n            \"Title\": \"Title here\",\n            \"Caption\": \"Short caption with emoji 😀 #topic1 #topic2 #topic3 #topic4 #popular1 #popular2 #popular3 #popular4 #trend1 #trend2 #trend3 #trend4\",\n            \"Prompt\": \"Prompt here\",\n            \"aspect_ratio\": \"16:9\",\n            \"image_reference\": \"https://example.com/image.jpg\"\n          },\n          {\n            \"Title\": \"Title here\",\n            \"Caption\": \"Short caption with emoji 😀 #topic1 #topic2 #topic3 #topic4 #popular1 #popular2 #popular3 #popular4 #trend1 #trend2 #trend3 #trend4\",\n            \"Prompt\": \"Prompt here \",\n            \"aspect_ratio\": \"9:16\",\n            \"image_reference\": \"https://example.com/image.jpg\"\n          }\n        ]\n      }\n\n  T – Tools:\n    You have access to the following tools. Each one is described clearly:\n    - Think Tool: Always use this to reflect and reason before responding.\n    - Sheet: A memory sheet to check if a similar idea has already been generated. Always consult this to avoid repetition of titles, captions, or prompts.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        400,
        1456
      ],
      "id": "51522a25-c3eb-4d9c-818c-d3127888b3f7",
      "name": "promptRobo AIAgent"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Analyze the given image and determine if it primarily depicts a product or a character, or BOTH.\n\n- If the image is of a product, return the analysis in YAML format with the following fields:\n\nbrand_name: (Name of the brand shown in the image, if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used)\n    name: (Descriptive name of the color)\nfont_style: (Describe the font family or style used: serif/sans-serif, bold/thin, etc.)\nvisual_description: (A full sentence or two summarizing what is seen in the image, ignoring the background)\n\n- If the image is of a character, return the analysis in YAML format with the following fields:\n\ncharacter_name: (Name of the character if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used on the character)\n    name: (Descriptive name of the color)\noutfit_style: (Description of clothing style, accessories, or notable features)\nvisual_description: (A full sentence or two summarizing what the character looks like, ignoring the background)\n\nOnly return the YAML. Do not explain or add any other comments.\n\n\n- if it is BOTH, return both descriptions as guided above in YAML format\n",
        "imageUrls": "={{ $json.image_reference }}",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        96,
        1456
      ],
      "id": "7adc8d1b-7902-4c2c-8e49-f5a61469094e",
      "name": "Analyze Image",
      "credentials": {
        "openAiApi": {
          "id": "zDZ32auFKuRIohXt",
          "name": "OpenAi account 5"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# Sora2 in n8n - official (by RoboNuggets) \n## Author: Jay E | n23 Sora 2 via Kie AI",
        "height": 144,
        "width": 1632,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        1296
      ],
      "id": "3f841b42-6c1b-4c0c-9271-101bd7ae179a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Part 2: Create with Sora2",
        "height": 144,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        1648
      ],
      "id": "619eecc3-c8cd-4157-ab0a-8268679f1359",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1F5eSl9WigK_hvXfqKBtl6Tm7yw1yUzl5YmRqaS-PCiY",
          "mode": "list",
          "cachedResultName": "n23 | Sora in n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F5eSl9WigK_hvXfqKBtl6Tm7yw1yUzl5YmRqaS-PCiY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 772279596,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F5eSl9WigK_hvXfqKBtl6Tm7yw1yUzl5YmRqaS-PCiY/edit#gid=772279596"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get inputs').item.json.row_number }}",
            "production_status": "done",
            "video_output": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt",
              "displayName": "video_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "aspect_ratio",
              "displayName": "aspect_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "production_status",
              "displayName": "production_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_reference",
              "displayName": "image_reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_output",
              "displayName": "video_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        1616
      ],
      "id": "af965383-be54-4749-986d-fcd697ee7178",
      "name": "🟢 Log Video",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1F5eSl9WigK_hvXfqKBtl6Tm7yw1yUzl5YmRqaS-PCiY",
          "mode": "list",
          "cachedResultName": "n23 | Sora in n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F5eSl9WigK_hvXfqKBtl6Tm7yw1yUzl5YmRqaS-PCiY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 772279596,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F5eSl9WigK_hvXfqKBtl6Tm7yw1yUzl5YmRqaS-PCiY/edit#gid=772279596"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get inputs').item.json.row_number }}",
            "production_status": "error",
            "video_output": "={{ $json.data.failMsg }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt",
              "displayName": "video_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "aspect_ratio",
              "displayName": "aspect_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "production_status",
              "displayName": "production_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_reference",
              "displayName": "image_reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_output",
              "displayName": "video_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        1776
      ],
      "id": "4d50706c-d21e-49d1-8639-249384f3f394",
      "name": " 🔴 Log Error",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1F5eSl9WigK_hvXfqKBtl6Tm7yw1yUzl5YmRqaS-PCiY",
          "mode": "list",
          "cachedResultName": "n23 | Sora in n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F5eSl9WigK_hvXfqKBtl6Tm7yw1yUzl5YmRqaS-PCiY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 772279596,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F5eSl9WigK_hvXfqKBtl6Tm7yw1yUzl5YmRqaS-PCiY/edit#gid=772279596"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.Title }}",
            "caption": "={{ $json.Caption }}",
            "video_prompt": "={{ $json.Prompt }}",
            "aspect_ratio": "={{ $json.aspect_ratio }}",
            "production_status": "create",
            "image_reference": "={{ $json.image_reference }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt",
              "displayName": "video_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "aspect_ratio",
              "displayName": "aspect_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "production_status",
              "displayName": "production_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_reference",
              "displayName": "image_reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_output",
              "displayName": "video_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        992,
        1456
      ],
      "id": "93ddbe5b-91d4-4a60-b324-ff78345f63d7",
      "name": "🔵 Log Prompts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9ebdcbd-fc46-484e-b829-97253e149e96",
              "name": "what's your idea",
              "value": "Begin all prompts with \"Take this character and create a video with this guidance\"|\n\nThen use the master prompt to make a unique prompt in the same style for the character",
              "type": "string"
            },
            {
              "id": "30bdd514-6573-4661-b3ac-83966b22ad5e",
              "name": "how many videos",
              "value": 3,
              "type": "number"
            },
            {
              "id": "2390fcb0-4a60-44e7-98f9-73a0beb12779",
              "name": "aspect_ratio",
              "value": "horizontal",
              "type": "string"
            },
            {
              "id": "f158d954-3402-4c9c-aa90-d6d12db445d1",
              "name": "image_reference",
              "value": "https://beyondhogwarts.com/wp-content/uploads/2024/09/Kaladin-Stormblessed-Words-of-Radiance-Cover-art-cosmere-stormlight-archive.jpg",
              "type": "string"
            },
            {
              "id": "802e2be9-ccf6-4706-ae34-749cbc18f102",
              "name": "master prompt",
              "value": "In the style of a Japanese anime film, high-quality 2D limited animation with cel shading. A night forest filled with glowing particles, fluttering butterflies, swaying flowers, and shimmering reflections on the water. Amidst this dreamlike scenery, a white-haired girl walks, pauses, and gently interacts with her surroundings. The screen cuts frequently, with both objects and the camera in constant motion. Multi-shot composition: 1. Close-up of the girl’s feet as she steps near the water, ripples spreading with light. 2. Side-tracking shot as she walks among glowing flowers, particles and butterflies drifting around her. 3. She stops, reaching out to touch a flower. Petals fall and scatter onto the water. 4. Close-up of her face, a blink, hair swaying gently in the breeze, background light pulsing. 5. Overhead view of the glowing forest and river as she continues walking. 6. She turns back, butterflies sweep across the frame, camera slowly circling. 7. Wide shot, the entire forest bathed in luminous glow. Climax: The girl stops, and countless butterflies rise all at once, taking flight into the night sky. The camera follows their ascent, the sky filling with glowing wings, petals, and light particles. The scene is flooded with fantastical radiance before gently fading to black.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        1456
      ],
      "id": "1a53525d-8ff3-4fd1-a9ec-bfe0875c00a9",
      "name": "Master Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"{{ $json.image_reference ? 'sora-2-image-to-video' : 'sora-2-text-to-video' }}\",\n\n\n  \"input\": {\n    \"prompt\": {{ JSON.stringify($json.video_prompt)}},\n    \"aspect_ratio\": \"{{ $json.aspect_ratio === '9:16' ? 'portrait' : ($json.aspect_ratio === '16:9' ? 'landscape' : $json.aspect_ratio) }}\"\n\n\n    {{ $json.image_reference ? ', \"image_urls\": [\"' + $json.image_reference + '\"]' : '' }}\n  }\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        1648
      ],
      "id": "446efbd3-e4e7-4b63-a987-21df57334654",
      "name": "Create Sora2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        1456
      ],
      "id": "5dc3f5e1-4f51-4769-a9fd-4ac74f413a13",
      "name": "Part 1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        1648
      ],
      "id": "4e5fb88a-13ce-4e7f-9555-6a907df4443a",
      "name": "Part 2"
    },
    {
      "parameters": {
        "content": "",
        "height": 592,
        "width": 864,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        1296
      ],
      "id": "3c269fa9-b108-42cd-b2e9-802b25a02e57",
      "name": "Sticky Note3",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Get Video": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ready in Blotato": {
      "main": [
        [
          {
            "node": "👔LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "📘Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "🎵Tiktok",
            "type": "main",
            "index": 0
          },
          {
            "node": "🧵Threads",
            "type": "main",
            "index": 0
          },
          {
            "node": "✖️Twitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "📷Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "☁️BlueSky",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔻YouTube",
            "type": "main",
            "index": 0
          },
          {
            "node": "📍 Pinterest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get inputs": {
      "main": [
        [
          {
            "node": "Create Sora2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "🟢 Log Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": " 🔴 Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT": {
      "ai_languageModel": [
        [
          {
            "node": "promptRobo AIAgent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "promptRobo AIAgent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structure": {
      "ai_outputParser": [
        [
          {
            "node": "promptRobo AIAgent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Sheet": {
      "ai_tool": [
        [
          {
            "node": "promptRobo AIAgent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "🔵 Log Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "promptRobo AIAgent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "promptRobo AIAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🟢 Log Video": {
      "main": [
        []
      ]
    },
    " 🔴 Log Error": {
      "main": [
        []
      ]
    },
    "Master Prompt": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sora2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Part 1": {
      "main": [
        [
          {
            "node": "Master Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Part 2": {
      "main": [
        [
          {
            "node": "Get inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "81db762c-546d-4e93-a8b0-006b3252dab8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "addaa68bf5af965c06c3765c811549851eb65db8df4677e0c6253726ffcac493"
  },
  "id": "od9Iz5ERM0DnhnKS",
  "tags": []
}