n8n/imported/n24-autopilot-cameos-sora2.json
{
  "name": "n24 | Autopilot Cameos with Sora2 Pro",
  "nodes": [
    {
      "parameters": {
        "content": "## Part 1: Create Prompts",
        "height": 144,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        1456
      ],
      "id": "593d3ed3-987f-4d4d-8e99-65ffca89cdd7",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $('Create Sora2').item.json.data.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        1648
      ],
      "id": "3bea4842-c80b-4aa6-8bcb-02e8da4dd971",
      "name": "Get Video",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "platform": "linkedin",
        "accountId": {
          "__rl": true,
          "value": "123",
          "mode": "id"
        },
        "postContentText": "={{ $('Get inputs').item.json.caption }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1664,
        1680
      ],
      "id": "06a2272d-e8c6-490e-8464-8cd418cd7697",
      "name": "👔LinkedIn",
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "platform": "facebook",
        "accountId": {
          "__rl": true,
          "value": "123",
          "mode": "id"
        },
        "postContentText": "={{ $('Get inputs').item.json.caption }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "facebookPageId": {
          "__rl": true,
          "value": "130049253738890",
          "mode": "list",
          "cachedResultName": "Test brand",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/1092/subaccounts/130049253738890"
        },
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1664,
        1520
      ],
      "id": "9f3be11a-b089-4a14-809e-91fc65ff54c0",
      "name": "📘Facebook",
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "platform": "tiktok",
        "accountId": {
          "__rl": true,
          "value": "1234",
          "mode": "id"
        },
        "postContentText": "={{ $('Get inputs').item.json.caption }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "postCreateTiktokOptionIsAiGenerated": "={{ true }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1664,
        1360
      ],
      "id": "0ec13460-e6ec-4086-8b77-12c341684172",
      "name": "🎵Tiktok",
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "platform": "threads",
        "accountId": {
          "__rl": true,
          "value": "284",
          "mode": "list",
          "cachedResultName": "testingspace54872",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/284"
        },
        "postContentText": "={{ $('Get inputs').item.json.caption }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1808,
        1520
      ],
      "id": "e73385a4-1832-40e0-9bdd-8e00aaa19dec",
      "name": "🧵Threads",
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "platform": "twitter",
        "accountId": {
          "__rl": true,
          "value": "123",
          "mode": "id"
        },
        "postContentText": "={{ $('Get inputs').item.json.caption }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1952,
        1520
      ],
      "id": "4eb494b3-b6b0-443a-a0f4-d1dddab417b9",
      "name": "✖️Twitter",
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "accountId": {
          "__rl": true,
          "value": "4116",
          "mode": "list",
          "cachedResultName": "testingprofile13125",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/4116"
        },
        "postContentText": "={{ $('Get inputs').item.json.caption }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1808,
        1360
      ],
      "id": "ef4d7bfa-8296-40bb-a3a5-74f2eefd9bd9",
      "name": "📷Instagram",
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "media",
        "mediaUrl": "={{ $json.video_output }}"
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1408,
        1520
      ],
      "id": "cd2d2b4f-4325-450e-aa60-bfdb6450a57c",
      "name": "Ready in Blotato",
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "platform": "bluesky",
        "accountId": {
          "__rl": true,
          "value": "5872",
          "mode": "list",
          "cachedResultName": "testbrand13125.bsky.social",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/5872"
        },
        "postContentText": "={{ $('Get inputs').item.json.caption }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1808,
        1680
      ],
      "id": "e291a078-1636-422a-b5ed-51ef2a6d1a81",
      "name": "☁️BlueSky",
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "platform": "youtube",
        "accountId": {
          "__rl": true,
          "value": "123",
          "mode": "id"
        },
        "postContentText": "={{ $('Get inputs').item.json.caption }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "postCreateYoutubeOptionTitle": "={{ $('Get inputs').item.json.title }}",
        "postCreateYoutubeOptionPrivacyStatus": "unlisted",
        "postCreateYoutubeOptionShouldNotifySubscribers": false,
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1952,
        1360
      ],
      "id": "0c9a4f1e-4c01-417c-9880-841af5cba568",
      "name": "🔻YouTube",
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "platform": "pinterest",
        "accountId": {
          "__rl": true,
          "value": "228",
          "mode": "list",
          "cachedResultName": "testbrand13125",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/228"
        },
        "postContentText": "={{ $('Get inputs').item.json.caption }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "pinterestBoardId": {
          "__rl": true,
          "value": "1017321072016836595",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1952,
        1680
      ],
      "id": "5e0905df-567b-4ae3-bd40-7165483692f0",
      "name": "📍 Pinterest",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "blotatoApi": {
          "id": "kL3kwivG5ErCmAl8",
          "name": "Blotato account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U",
          "mode": "list",
          "cachedResultName": "n24 | Sora2-Pro in n8n (upgraded)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 15033192,
          "mode": "list",
          "cachedResultName": "Sheet2-videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U/edit#gid=15033192"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "video_status",
              "lookupValue": "create"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        1648
      ],
      "id": "559de064-6c93-4c25-810f-f4e5ec026d5b",
      "name": "Get inputs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        336,
        1648
      ],
      "id": "0eb87951-2da9-4556-9b5f-2a0012bdc85c",
      "name": "Wait",
      "webhookId": "5ec4a5ba-1e7f-4df3-a7b3-14d35e4b7a5b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a96f17f2-5967-4b13-acc9-4d41f226453b",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "=success",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "52ad92ea-901f-4af8-a462-84b045dd2803",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "ing",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "in progress"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        672,
        1632
      ],
      "id": "bee06a88-e77b-4755-826f-d85c4ddacc7e",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        1264
      ],
      "id": "b5ffce33-d5b7-4b60-9084-a4a68e9c673f",
      "name": "GPT",
      "credentials": {
        "openAiApi": {
          "id": "NyuhXI96tWK9dR2J",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        240,
        1328
      ],
      "id": "7db928cf-0d0b-430d-9b4c-b028a92edd52",
      "name": "Think"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"scenes\": [\n    {\n      \"task_id\": 1,\n      \"Title\": \"Title here\",\n      \"Caption\": \"Short caption with emoji 😀 #topic1 #topic2 #topic3 #topic4 #popular1 #popular2 #popular3 #popular4 #trend1 #trend2 #trend3 #trend4\",\n      \"Prompt\": \"Prompt here with @cameo if applicable\",\n      \"aspect_ratio\": \"16:9\",\n      \"image_reference\": \"https://example.com/image.jpg\",\n      \"model\": \"sora2 or sora2-pro\"\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        352,
        1264
      ],
      "id": "764b8694-459c-4009-96f7-62966d101929",
      "name": "Structure"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U",
          "mode": "list",
          "cachedResultName": "n24 | Sora2-Pro in n8n (upgraded)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 15033192,
          "mode": "list",
          "cachedResultName": "Sheet2-videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U/edit#gid=15033192"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "B:C"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        560,
        1328
      ],
      "id": "80e13246-9267-4987-999e-ef0780575593",
      "name": "Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        1456
      ],
      "id": "dc53579f-9f29-4955-b8ef-898ee88a8c23",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Give me {{ $('Master Prompt').item.json.video_count }} ideas about this main topic:\n{{ $('Master Prompt').item.json.your_prompt }}\n\nThe cameo to include is: {{ $('Master Prompt').item.json.cameo }}\nThe model to use is: {{ $('Master Prompt').item.json.model }}\nThe aspect ratio is: {{ $('Master Prompt').item.json.aspect_ratio }}\nThe task id is: {{ $('Master Prompt').item.json.id }}\n\n\n\n________\n\nMASTER PROMPT. For all the prompts you generate, follow the structure of this prompt. The master prompt is the piece of text between the ***\n\n***\n{{ $('Master Prompt').item.json.master_prompt_reference }}\n***\n\nIf provided, here is the Image reference URL: {{ $('Master Prompt').item.json.image_reference }}\n\nHere's the description of the image reference if it is provided:\n{{ $json.choices[0].message.content }}\n\n\n__________\n\nAlways use the Think tool\nAlways use the Sheets tool",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## SYSTEM PROMPT: Video Scene Prompt Expander 🎬\n\n  A – Ask:\n    Suggest detailed video prompts based on the user’s input – always mimicking the format, tone, and structure of a provided master prompt. If no sample is given, use the user’s idea or topic to generate a new prompt. Output count is defined by the user.\n\n  G – Guidance:\n    role: Visual director or prompt artist\n    output_count: As specified by the user\n    constraints: \n      - Always follow the user’s tone, brand, or direction.\n      - Strictly match the **style, length, formatting, and cadence** of any master prompt provided.\n      - Never use copyrighted or trademarked characters, brands, or IP.\n      - The aspect_ratio field must be either \"9:16\" (portrait) or \"16:9\" (landscape). No other values are allowed.\n      - If the user provides an `image_reference` URL, copy it exactly into the output.\n      - Always check the Sheet tool to AVOID repeated titles, captions, or prompts. Do NOT repeat any of the ideas already found in the Sheet.\n      - If a `cameo` is provided, include it in the **Prompt** as a tagged @mention (e.g., @username) per user instruction. The @mention should be the core character of the prompt and must be placed near the top of each prompt\n      - If `cameo` is not provided, do not include any.\n      - The `model` field must be either \"sora2\" or \"sora2-pro\". If not provided, default to \"sora2\".\n      - The `task_id` is an integer provided by the user. Include it in each output exactly as given.\n\nIMPORTANT:\n     - If the user includes in their main topic direction to \"Use the master prompt directly\". Only output the MASTER PROMPT reference as is without any changes. Ignore all other guidelines above and just output that as the prompt directly copied. But still include and ideate for the other parameters requested like the Title and the Caption.\n\n  E – Examples:\n    Take direct guidance from any user-provided master prompt:\n      - Match the sample’s **sentence rhythm, length, and visual vocabulary**.\n      - Mirror the tone, cinematic intensity, and phrase structure exactly.\n      - If no master is given, create a vivid, immersive scene using a cinematic trailer-style voice.\n\n  N – Notation:\n    format: JSON\n    example_output: |\n      {\n        \"scenes\": [\n          {\n            \"task_id\": 1,\n            \"Title\": \"Title here\",\n            \"Caption\": \"Short caption with emoji 😀 #topic1 #topic2 #topic3 #topic4 #popular1 #popular2 #popular3 #popular4 #trend1 #trend2 #trend3 #trend4\",\n            \"Prompt\": \"Prompt here with @cameo if applicable\",\n            \"aspect_ratio\": \"16:9\",\n            \"image_reference\": \"https://example.com/image.jpg\",\n            \"model\": \"sora2\"\n          }\n        ]\n      }\n\n  T – Tools:\n    You have access to the following tools. Each one is described clearly:\n    - Think Tool: Always use this to reflect and reason before responding.\n    - Sheet: A memory sheet to check if a similar idea has already been generated. Always consult this to avoid repetition of titles, captions, or prompts.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        336,
        1456
      ],
      "id": "595c8c91-5fdc-46d7-a3f6-d34252662ad9",
      "name": "promptRobo AIAgent"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Analyze the given image and determine if it primarily depicts a product or a character, or BOTH.\n\n- If the image is of a product, return the analysis in YAML format with the following fields:\n\nbrand_name: (Name of the brand shown in the image, if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used)\n    name: (Descriptive name of the color)\nfont_style: (Describe the font family or style used: serif/sans-serif, bold/thin, etc.)\nvisual_description: (A full sentence or two summarizing what is seen in the image, ignoring the background)\n\n- If the image is of a character, return the analysis in YAML format with the following fields:\n\ncharacter_name: (Name of the character if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used on the character)\n    name: (Descriptive name of the color)\noutfit_style: (Description of clothing style, accessories, or notable features)\nvisual_description: (A full sentence or two summarizing what the character looks like, ignoring the background)\n\nOnly return the YAML. Do not explain or add any other comments.\n\n\n- if it is BOTH, return both descriptions as guided above in YAML format\n",
        "imageUrls": "={{ $json.image_reference }}",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        128,
        1456
      ],
      "id": "a77e4edd-5bc9-4d9a-8c8e-a1a86e9ce599",
      "name": "Analyze Image",
      "credentials": {
        "openAiApi": {
          "id": "zDZ32auFKuRIohXt",
          "name": "OpenAi account 5"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# Sora2-Pro and Cameos in n8n - (by RoboNuggets) \n## Author: Jay E | n24",
        "height": 192,
        "width": 1632,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -512,
        1232
      ],
      "id": "16e13900-dc39-41d8-bba6-737c4ea34043",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Part 2: Create with Sora2",
        "height": 144,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        1648
      ],
      "id": "a14fa66a-ad54-403a-925a-29de3d86d11d",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U",
          "mode": "list",
          "cachedResultName": "n24 | Sora2-Pro in n8n (upgraded)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 15033192,
          "mode": "list",
          "cachedResultName": "Sheet2-videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U/edit#gid=15033192"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get inputs').item.json.row_number }}",
            "video_status": "done",
            "video_output": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt",
              "displayName": "video_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "aspect_ratio",
              "displayName": "aspect_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_status",
              "displayName": "video_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_reference",
              "displayName": "image_reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_output",
              "displayName": "video_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        1616
      ],
      "id": "f6321713-9330-4987-a3d9-e9e3cc7ed042",
      "name": "🟢 Log Video",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U",
          "mode": "list",
          "cachedResultName": "n24 | Sora2-Pro in n8n (upgraded)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 15033192,
          "mode": "list",
          "cachedResultName": "Sheet2-videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U/edit#gid=15033192"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get inputs').item.json.row_number }}",
            "video_output": "={{ $json.data.failMsg }}",
            "video_status": "error"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt",
              "displayName": "video_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "aspect_ratio",
              "displayName": "aspect_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "video_status",
              "displayName": "video_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_reference",
              "displayName": "image_reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_output",
              "displayName": "video_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        1776
      ],
      "id": "19a8eed7-96d1-4a83-9d0a-e1299e6dda2b",
      "name": " 🔴 Log Error",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U",
          "mode": "list",
          "cachedResultName": "n24 | Sora2-Pro in n8n (upgraded)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 15033192,
          "mode": "list",
          "cachedResultName": "Sheet2-videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U/edit#gid=15033192"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{ $json.task_id }}",
            "title": "={{ $json.Title }}",
            "caption": "={{ $json.Caption }}",
            "aspect_ratio": "={{ $json.aspect_ratio }}",
            "video_prompt": "={{ $json.Prompt }}",
            "model": "={{ $json.model }}",
            "video_status": "create",
            "image_reference": "={{ $json.image_reference }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt",
              "displayName": "video_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "aspect_ratio",
              "displayName": "aspect_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_status",
              "displayName": "video_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_reference",
              "displayName": "image_reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_output",
              "displayName": "video_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        784,
        1456
      ],
      "id": "d3e56707-3879-474b-a65b-5992d695991c",
      "name": "🔵 Log Prompts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"{{ $json.model === 'sora2-pro' ? ($json.image_reference ? 'sora-2-pro-image-to-video' : 'sora-2-pro-text-to-video') : ($json.image_reference ? 'sora-2-image-to-video' : 'sora-2-text-to-video') }}\",\n  \"input\": {\n    \"prompt\": {{ JSON.stringify($json.video_prompt) }},\n    \"aspect_ratio\": \"{{ $json.aspect_ratio === '9:16' ? 'portrait' : ($json.aspect_ratio === '16:9' ? 'landscape' : $json.aspect_ratio) }}\",\n    {{ $json.image_reference ? '\"image_urls\": [\"' + $json.image_reference + '\"],' : '' }}\n    \"remove_watermark\": true{{ $json.model === 'sora2-pro' ? ', \"n_frames\": \"10\", \"size\": \"standard\"' : '' }}\n  }\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        1648
      ],
      "id": "d709f6f4-e94c-4940-b325-882c063eaff4",
      "name": "Create Sora2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        1456
      ],
      "id": "b16935a5-52c4-4f09-92f8-ede1bff9d1e5",
      "name": "Part 1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        1648
      ],
      "id": "5cf2daa9-19b1-45f3-bc89-b696f979a6fc",
      "name": "Part 2"
    },
    {
      "parameters": {
        "content": "## Optional - Blotato nodes to auto-publish posts. Check the n12 lesson for more details!",
        "height": 592,
        "width": 864,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        1296
      ],
      "id": "fbed52a3-5323-448a-84d8-3e8f43226aad",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U",
          "mode": "list",
          "cachedResultName": "n24 | Sora2-Pro in n8n (upgraded)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 398337912,
          "mode": "list",
          "cachedResultName": "Sheet1-tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U/edit#gid=398337912"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "task_status",
              "lookupValue": "create"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        1456
      ],
      "id": "d4107ae6-b27d-4909-b84e-e3972c98e9c5",
      "name": "Master Prompt",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U",
          "mode": "list",
          "cachedResultName": "n24 | Sora2-Pro in n8n (upgraded)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 398337912,
          "mode": "list",
          "cachedResultName": "Sheet1-tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiTC5Kk8OodDAdVT2dWGr7mgFI7cCP6VH5uKAspxk3U/edit#gid=398337912"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.task_id }}",
            "task_status": "done"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "your_prompt",
              "displayName": "your_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_count",
              "displayName": "video_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "master_prompt_reference",
              "displayName": "master_prompt_reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_reference",
              "displayName": "image_reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cameo",
              "displayName": "cameo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "aspect_ratio",
              "displayName": "aspect_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_status",
              "displayName": "task_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        896,
        1456
      ],
      "id": "aa59f19d-28ef-4282-bf8e-adb2723ffa1b",
      "name": "Task Done",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get Video": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ready in Blotato": {
      "main": [
        [
          {
            "node": "👔LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "📘Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "🎵Tiktok",
            "type": "main",
            "index": 0
          },
          {
            "node": "🧵Threads",
            "type": "main",
            "index": 0
          },
          {
            "node": "✖️Twitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "📷Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "☁️BlueSky",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔻YouTube",
            "type": "main",
            "index": 0
          },
          {
            "node": "📍 Pinterest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get inputs": {
      "main": [
        [
          {
            "node": "Create Sora2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "🟢 Log Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": " 🔴 Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT": {
      "ai_languageModel": [
        [
          {
            "node": "promptRobo AIAgent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "promptRobo AIAgent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structure": {
      "ai_outputParser": [
        [
          {
            "node": "promptRobo AIAgent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Sheet": {
      "ai_tool": [
        [
          {
            "node": "promptRobo AIAgent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "🔵 Log Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "promptRobo AIAgent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "promptRobo AIAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🟢 Log Video": {
      "main": [
        []
      ]
    },
    " 🔴 Log Error": {
      "main": [
        []
      ]
    },
    "Create Sora2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Part 1": {
      "main": [
        [
          {
            "node": "Master Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Part 2": {
      "main": [
        [
          {
            "node": "Get inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Prompt": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔵 Log Prompts": {
      "main": [
        [
          {
            "node": "Task Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5a89dbe5-9183-4e37-9af2-a3df0404213b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "addaa68bf5af965c06c3765c811549851eb65db8df4677e0c6253726ffcac493"
  },
  "id": "mRmwsLSXfAiG7tLW",
  "tags": []
}