n8n/imported/n25-veo31-batch.json
{
  "name": "Veo3.1 via Kie AI | by RoboNuggets (ao 2025.10.20)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"prompt\": {{ JSON.stringify($json.video_prompt) }},\n\n  \"model\": \"{{ $json.model }}\",\n  \"aspectRatio\": \"{{ $json.aspect_ratio }}\",\n  \"enableTranslation\": false,\n\n  \"generationType\": \"{{ \n    [ $json.image_1, $json.image_2, $json.image_3 ]\n      .filter(i => i && i !== \"\")\n      .length > 0 \n      ? $json.tool \n      : 'TEXT_2_VIDEO' \n  }}\"\n  {{ \n    [ $json.image_1, $json.image_2, $json.image_3 ]\n      .filter(i => i && i !== \"\")\n      .length > 0 \n      ? `,\"imageUrls\": [${[ $json.image_1, $json.image_2, $json.image_3 ]\n          .filter(i => i && i !== \"\")\n          .map(i => `\"${i}\"`)\n          .join(\", \")}]`\n      : \"\"\n  }}\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2096,
        416
      ],
      "id": "14eb3576-1473-4b05-9106-538cf136c8f9",
      "name": "Create Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Create Video').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        416
      ],
      "id": "efb0a540-78fb-4114-b905-b64cb9222bc0",
      "name": "Get Video",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# Veo3.1-All Features via Kie AI \n### by Jay E from RoboNuggets🥚 ",
        "height": 128,
        "width": 1024,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        256
      ],
      "id": "c5b43e32-66c1-4a48-90a5-e8f73a6c31d2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "92155caa-4151-415e-a940-b1c0eaef6ca6",
              "name": "veo_video_result",
              "value": "={{ $json.data.errorMessage }} {{ $('Create Video').item.json.msg }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2864,
        496
      ],
      "id": "9e80cff2-5a2a-43cb-b8ec-c8bb5b1558e9",
      "name": "error"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1D5erZTabuP_-8dDB413UW59PTE5PCFYszIdMT49je9s",
          "mode": "list",
          "cachedResultName": "n25 | Veo3.1 one node",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D5erZTabuP_-8dDB413UW59PTE5PCFYszIdMT49je9s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 398337912,
          "mode": "list",
          "cachedResultName": "Sheet1-tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D5erZTabuP_-8dDB413UW59PTE5PCFYszIdMT49je9s/edit#gid=398337912"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "task_status",
              "lookupValue": "create"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1776,
        416
      ],
      "id": "93bc45a8-4376-412c-8a98-6d72e89caf7e",
      "name": "Get inputs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "# INPUT SECTION",
        "height": 400,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1648,
        256
      ],
      "id": "e4e3294b-98a6-40fe-a70d-e2cf9fcb0181",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# OUTPUT SECTION",
        "height": 416,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3040,
        256
      ],
      "id": "f0c9cfcd-4a4b-4202-84f3-01a56b537adf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "92155caa-4151-415e-a940-b1c0eaef6ca6",
              "name": "veo_video_result",
              "value": "={{ $json.data.response.resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2864,
        336
      ],
      "id": "60c782d4-a134-428c-b127-baaa1055de8a",
      "name": "success"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1472,
        416
      ],
      "id": "54d9fbd8-84fa-42b3-b4f4-005c01799986",
      "name": "Execute"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2320,
        416
      ],
      "id": "7786e0b2-6d5b-4ed5-86aa-2c0fa3868b7c",
      "name": "Wait",
      "webhookId": "ead9a9e0-66ea-472e-8a95-be752c0e57d2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "957f40c4-00b8-4caa-9bd7-065dcaf2cb49"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "52ad92ea-901f-4af8-a462-84b045dd2803",
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "in progress"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2608,
        400
      ],
      "id": "eab08a7f-15a7-435e-bab9-a6b9316b3a1f",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1D5erZTabuP_-8dDB413UW59PTE5PCFYszIdMT49je9s",
          "mode": "list",
          "cachedResultName": "n25 | Veo3.1 one node",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D5erZTabuP_-8dDB413UW59PTE5PCFYszIdMT49je9s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 398337912,
          "mode": "list",
          "cachedResultName": "Sheet1-tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D5erZTabuP_-8dDB413UW59PTE5PCFYszIdMT49je9s/edit#gid=398337912"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "output": "={{ $json.veo_video_result }}",
            "task_status": "done",
            "row_number": "={{ $('Get inputs').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt",
              "displayName": "video_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_1",
              "displayName": "image_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_2",
              "displayName": "image_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_3",
              "displayName": "image_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seed",
              "displayName": "seed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "aspect_ratio",
              "displayName": "aspect_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tool",
              "displayName": "tool",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_status",
              "displayName": "task_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3152,
        336
      ],
      "id": "756c6183-08d0-402c-8cd1-a6ce7bc43493",
      "name": "🟢 Done",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1D5erZTabuP_-8dDB413UW59PTE5PCFYszIdMT49je9s",
          "mode": "list",
          "cachedResultName": "n25 | Veo3.1 one node",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D5erZTabuP_-8dDB413UW59PTE5PCFYszIdMT49je9s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 398337912,
          "mode": "list",
          "cachedResultName": "Sheet1-tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D5erZTabuP_-8dDB413UW59PTE5PCFYszIdMT49je9s/edit#gid=398337912"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "output": "={{ $json.veo_video_result }}",
            "task_status": "error",
            "row_number": "={{ $('Get inputs').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt",
              "displayName": "video_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_1",
              "displayName": "image_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_2",
              "displayName": "image_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_3",
              "displayName": "image_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seed",
              "displayName": "seed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "aspect_ratio",
              "displayName": "aspect_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tool",
              "displayName": "tool",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_status",
              "displayName": "task_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3152,
        496
      ],
      "id": "0e96efa0-f58a-42a5-9dfe-a12ae82db1ea",
      "name": "🔴 Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Create Video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get inputs": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error": {
      "main": [
        [
          {
            "node": "🔴 Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "success": {
      "main": [
        [
          {
            "node": "🟢 Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute": {
      "main": [
        [
          {
            "node": "Get inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🟢 Done": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "20faafa6-c846-41b1-b503-9b3aafee5db0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "addaa68bf5af965c06c3765c811549851eb65db8df4677e0c6253726ffcac493"
  },
  "id": "xKJhA9y5EAn2ekAQ",
  "tags": []
}